<!-- FOOTER -->
<footer>
    <div class="footer js-dropdown">
        <div class="container">
            <div class="footer__logo">
                <div>
                    <img src="/forum/fonts/icons/main/Logo_Forum.svg" alt="logo">Unity
                </div>
            </div>
            <div class="footer__nav">
                <div class="footer__tline">
                    <i class="icon-Support"></i>
                    <ul class="footer__menu">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">The Team</a></li>
                    </ul>
                    <div class="footer__language">
                        <div class="footer__language-btn" data-dropdown-btn="language">Americas - English<i class="icon-Arrow_Below"></i></div>
                        <div class="footer__language-dropdown dropdown dropdown--design-01 dropdown--reverse-y" data-dropdown-list="language">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3>Region</h3>
                                    <ul class="dropdown__catalog">
                                        <li class="active"><a href="#"><i></i>America</a></li>
                                        <li><a href="#"><i></i>Europe</a></li>
                                        <li><a href="#"><i></i>Asia</a></li>
                                        <li><a href="#"><i></i>China</a></li>
                                        <li><a href="#"><i></i>Australia</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <h3>Language</h3>
                                    <ul class="dropdown__catalog">
                                        <li class="active"><a href="#"><i></i>English</a></li>
                                        <li><a href="#"><i></i>Espanol</a></li>
                                        <li><a href="#"><i></i>Portugues</a></li>
                                        <li><a href="#"><i></i>Chinese</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bline">
                    <ul class="footer__menu">
                        <li class="footer__copyright"><span>&copy; 2017 azyrusthemes.com</span></li>
                        <li><a href="#">Teams</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Send Feedback</a></li>
                    </ul>
                    <ul class="footer__social">
                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-cloud" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="footer__language-btn-m" data-dropdown-btn="language">Americas - English<i class="icon-Arrow_Below"></i></div>
                </div>
            </div>
        </div>
    </div>
</footer>